/* Estilos gerais */

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

p {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
}

/* Menu superior */

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff; 
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 5;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul img {
  margin-right: 20px;
}

.menu {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.menu__item, .menu__button { 
  font-size: 16px;
}

.menu li {
  margin: 0 10px;
}

.menu li a {
  font-size: 16px;
  font-weight: bold;
  color: #0044cc;
  text-decoration: none;
}

.group {
  display: flex;
  align-items: center;
  height: 38px;
  justify-content: flex-start;
  gap: 8px;
  font-size: 16px;
}

.menu__button {
  color: #fff;
  cursor: pointer;
  background-color: #0044cc;
  padding: 15px;
  border-radius: 5px;
  border: 0;
  margin: 0 10px;
}


/* cursos */ 

.hero {
  background-color: #0044cc;
  padding: 70px 0;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.hero h1 {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.hero p {
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.course-card {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 300px;
}

.course-card img {
  max-width: 300px;
  margin-bottom: 20px;
}

.frame-7 {
  display: inline-block;
  margin-top: auto;
  padding: 10px 20px;
  background-color: #0044cc;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

/* Rodapé */

.footer {
  background-color: #0044cc;
  color: #fff;
  padding: 20px 50px;
  margin: 20px;
  border-radius: 10px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section-1 ul, .footer-section-2 ul {
  list-style-type: none;
  text-align: left;
  margin-left: -30px;
}

.footer-section-1 h1, .footer-section-2 h1, .footer-inscricao h1 {
  font-size: 16px;
  color: #fff;
  text-align: left;
}


.footer-section-1 ul li a, .footer-section-2 ul li a, .footer-inscricao ul li a {
  font-size: 15px;
  text-align: left;
  color: #fff;
  text-decoration: none;
  line-height: 25px;
}

.footer-inscricao {
  font-size: 15px;
  text-align: left;
  color: #fff;
  text-decoration: none;
  line-height: 25px;
  background-color: #003399;
  padding: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: auto;
}

.footer-inscricao__button {
    font-size: 20px;
    background-color: #0044cc;
    color: #fff;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

.footer-inscricao__input {
  font-size: 13px;
  text-align: left;
  color: #fff;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 0;
  padding: 5px;
  min-height: 30px;
  flex: 1;
}

.footer-inscricao__text {
  font-size: 16px;
  margin: 10px 0 0 0; 
  font-weight: 600;
  color: #fff;
  font-weight: normal;
}

.footer-inscricao__form {
  display: flex; 
}

/*
.footer-section form label {
  margin-bottom: 5px;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}
*/

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  font-size: 14px;
  color: #fff;
}

.footer-bottom p {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  font-weight: normal;
}

.footer-bottom ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-bottom ul li {
  margin: 0 10px;
}

.footer-bottom ul li a {
  color: #fff;
  text-decoration: none;
}

.frame-29 {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.group-9 img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.group-12 button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #fff;
  color: #0044cc;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}


/* Media Queries 

Mobile: @media only screen and (min-width: 0px) and (max-width: 480px) 
Tablet: @media only screen and (min-width: 481px) and (max-width: 768px) 
Laptop: @media only screen and (min-width: 769px) and (max-width: 1279px) 
Desktop: @media only screen and (min-width: 1280px) 

*/

/*mobile*/

@media screen and (max-width: 768px) {

  /* rodapé */
  
  .footer-bottom {
    display: inline-grid;
  }
  
  
  /* cabeçalho */
  
  .offcanvas.show:not(.hiding), .offcanvas.showing {
    transform: none;
    height: 450px;
    width: 200px;
  }
  
  .group {
    gap: 5px;
    }
  
  .navbar-desktop {
    display: none;
  }
  
  .navbar-boostrap {
    /*ajustar menu no mobile*/
    background-color: #fff!important;
  }
  
  .navbar-nav {
    font-size: 16px;
    font-weight: bold;
    color: #0044cc;
    text-decoration: none;
    align-items: flex-start;
    margin: 15px;
  }
  
  .btn.btn-outline-success {
    color: #fff;
    cursor: pointer;
    background-color: #0044cc;
    padding: 15px;
    border-radius: 5px;
    border: 0;
    margin: 0 10px;
    align-items: center;
  }
  
  }
  
  /*desktop*/
  
  @media screen and (min-width: 769px) {
  
    .navbar-boostrap {
    display: none;
    }
  
  
  }