.suporte {
    background-color: #42454f80;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .suporte .overlap-wrapper {
    background-color: #42454f80;
    width: 1469px;
    height: 3344px;
  }
  
  .suporte .overlap {
    position: relative;
    width: 1401px;
    height: 3255px;
    top: 41px;
    left: 34px;
    border-radius: 20px;
  }
  
  .suporte .wireframe {
    position: absolute;
    width: 1401px;
    height: 3255px;
    top: 0;
    left: 0;
    background-color: #ffffffd9;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid;
    border-color: #dfdbe9;
    backdrop-filter: blur(30px) brightness(100%);
    -webkit-backdrop-filter: blur(30px) brightness(100%);
  }
  
  .suporte .pexels {
    position: absolute;
    width: 1401px;
    height: 699px;
    top: 137px;
    left: 0;
    object-fit: cover;
  }
  
  .suporte .preencha-o-formul {
    position: absolute;
    width: 1332px;
    height: 120px;
    top: 856px;
    left: 35px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #212121;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0.2px;
    line-height: normal;
  }
  
  .suporte .text-wrapper {
    letter-spacing: 0.06px;
  }
  
  .suporte .a-ativa-idade-atende {
    position: absolute;
    width: 1332px;
    height: 120px;
    top: 1823px;
    left: 35px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: transparent;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.2px;
    line-height: normal;
  }
  
  .suporte .span {
    color: #212121;
    letter-spacing: 0.07px;
  }
  
  .suporte .text-wrapper-2 {
    color: #3563e9;
    letter-spacing: 0.07px;
  }
  
  .suporte .caso-prefira-entrar {
    position: absolute;
    width: 1332px;
    height: 120px;
    top: 1703px;
    left: 35px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: transparent;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0.2px;
    line-height: normal;
  }
  
  .suporte .text-wrapper-3 {
    color: #212121;
    letter-spacing: 0.06px;
  }
  
  .suporte .text-wrapper-4 {
    color: #3563e9;
    letter-spacing: 0.06px;
  }
  
  .suporte .rectangle {
    position: absolute;
    width: 1126px;
    height: 678px;
    top: 977px;
    left: 138px;
    border-radius: 20px;
    border: 3px solid;
    border-color: transparent;
    border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)) 1;
    background: linear-gradient(180deg, rgba(53, 99, 233, 0.07) 0%, rgba(53, 99, 233, 0.1) 100%);
  }
  
  .suporte .footer {
    position: absolute;
    width: 1380px;
    height: 377px;
    top: 2846px;
    left: 9px;
    background-color: var(--lightprimaryorigin);
    border-radius: 20px;
  }
  
  .suporte .frame {
    display: flex;
    width: 415px;
    align-items: flex-start;
    gap: 116px;
    position: absolute;
    top: 24px;
    left: 91px;
  }
  
  .suporte .div {
    position: relative;
    width: 99px;
    height: 222px;
  }
  
  .suporte .product {
    position: absolute;
    top: -2px;
    left: -1px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: var(--white);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
    border-color: var(--white);
  }
  
  .suporte .frame-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    position: absolute;
    top: 43px;
    left: 0;
  }
  
  .suporte .employee-database {
    position: relative;
    width: fit-content;
    margin-top: -2px;
    margin-left: -1px;
    opacity: 0.7;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--white);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    border-color: var(--white);
  }
  
  .suporte .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-left: -1px;
    opacity: 0.7;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--white);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    border-color: var(--white);
  }
  
  .suporte .frame-3 {
    position: relative;
    width: 159px;
    height: 107px;
  }
  
  .suporte .company {
    position: absolute;
    width: 159px;
    top: -2px;
    left: -1px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: var(--white);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
    border-color: var(--white);
  }
  
  .suporte .frame-4 {
    display: flex;
    flex-direction: column;
    width: 159px;
    height: 115px;
    align-items: flex-start;
    gap: 12px;
    position: absolute;
    top: 43px;
    left: 0;
  }
  
  .suporte .about-us {
    position: relative;
    width: 190px;
    margin-top: -2px;
    margin-left: -1px;
    margin-right: -30px;
    opacity: 0.7;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--white);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    border-color: var(--white);
  }
  
  .suporte .careers {
    position: relative;
    width: 189px;
    margin-left: -1px;
    margin-right: -29px;
    opacity: 0.7;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--white);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    border-color: var(--white);
  }
  
  .suporte .frame-wrapper {
    position: absolute;
    width: 340px;
    height: 224px;
    top: 23px;
    left: 949px;
    background-color: var(--lightprimarydarker);
  }
  
  .suporte .frame-5 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    position: relative;
    top: 30px;
    left: 42px;
  }
  
  .suporte .learn-more {
    position: relative;
    width: 149px;
    margin-top: -2px;
    margin-left: -1px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: var(--white);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
    border-color: var(--white);
  }
  
  .suporte .frame-6 {
    display: flex;
    width: 248px;
    align-items: center;
    gap: 56px;
    padding: 0px 0px 0px 15px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--white);
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--systemgrey-350);
  }
  
  .suporte .label {
    position: relative;
    flex: 1;
    margin-left: -1px;
    opacity: 0.6;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--systemgrey-800);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    border-color: var(--white);
  }
  
  .suporte .icon-lucide-icon-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 13px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--lightprimaryorigin);
    border-radius: 0px 6px 6px 0px;
  }
  
  .suporte .img {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .suporte .hello-we-are-flair {
    position: relative;
    width: 254px;
    height: 41px;
    opacity: 0.7;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--white);
    font-size: 13px;
    letter-spacing: 0;
    line-height: 20.4px;
  }
  
  .suporte .divider {
    position: absolute;
    width: 1203px;
    height: 4px;
    top: 270px;
    left: 86px;
    background-color: var(--white);
    border: 1px solid;
    opacity: 0.06;
    border-color: var(--white);
  }
  
  .suporte .frame-7 {
    position: absolute;
    width: 1200px;
    height: 53px;
    top: 291px;
    left: 88px;
  }
  
  .suporte .prancheta-cpia {
    position: absolute;
    width: 126px;
    height: 61px;
    top: 0;
    left: -29px;
    object-fit: cover;
  }
  
  .suporte .frame-8 {
    display: inline-flex;
    align-items: flex-start;
    gap: 36px;
    position: absolute;
    top: 220px;
    left: 595px;
  }
  
  .suporte .pricing {
    margin-left: -1px;
    position: relative;
    width: fit-content;
    margin-top: -2px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: var(--white);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    border-color: var(--white);
  }
  
  .suporte .pricing-2 {
    position: relative;
    width: fit-content;
    margin-top: -2px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: var(--white);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    border-color: var(--white);
  }
  
  .suporte .frame-9 {
    display: inline-flex;
    align-items: flex-start;
    gap: 15px;
    position: absolute;
    top: 133px;
    left: 595px;
  }
  
  .suporte .group {
    position: relative;
    width: 35px;
    height: 35px;
  }
  
  .suporte .overlap-group {
    position: relative;
    width: 36px;
    height: 36px;
    top: -1px;
    left: -1px;
    background-image: url(./img/oval-10-copy-3.svg);
    background-size: 100% 100%;
  }
  
  .suporte .icon-lucide-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 8px;
    left: 9px;
  }
  
  .suporte .overlap-group-wrapper {
    height: 35px;
  }
  
  .suporte .img-wrapper {
    position: relative;
    width: 36px;
    height: 36px;
    top: -1px;
    left: -1px;
    background-image: url(./img/oval-10.svg);
    background-size: 100% 100%;
  }
  
  .suporte .group-2 {
    position: relative;
    width: 36.5px;
    height: 36.5px;
    margin-top: -0.75px;
    margin-bottom: -0.75px;
    margin-right: -0.75px;
  }
  
  .suporte .group-3 {
    position: absolute;
    width: 267px;
    height: 52px;
    top: 24px;
    left: 595px;
  }
  
  .suporte .div-wrapper {
    display: flex;
    width: 128px;
    align-items: center;
    justify-content: center;
    gap: 1px;
    padding: 14px 16px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid;
  }
  
  .suporte .text-wrapper-6 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    margin-left: -0.5px;
    margin-right: -0.5px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #3563e9;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .suporte .frame-10 {
    display: flex;
    width: 128px;
    align-items: center;
    justify-content: center;
    gap: 1px;
    padding: 14px 16px;
    position: absolute;
    top: 0;
    left: 139px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid;
    border-color: #3563e9;
  }
  
  .suporte .text-wrapper-7 {
    color: #3563e9;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .suporte .FAQS {
    position: absolute;
    width: 1332px;
    height: 818px;
    top: 1981px;
    left: 33px;
    background-color: #3563e917;
    border-radius: 20px;
  }
  
  .suporte .frame-11 {
    display: flex;
    flex-direction: column;
    width: 1200px;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: absolute;
    top: 80px;
    left: 120px;
  }
  
  .suporte .d-vidas-frequentes-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .suporte .d-vidas-frequentes {
    position: relative;
    width: 952px;
    margin-top: -1px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #212121;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.2px;
    line-height: normal;
  }
  
  .suporte .text-wrapper-8 {
    letter-spacing: 0.1px;
  }
  
  .suporte .aqui-teremos {
    position: relative;
    width: 839px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--systemgrey-600);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    line-height: 28px;
  }
  
  .suporte .text-wrapper-9 {
    letter-spacing: 0.04px;
  }
  
  .suporte .frame-12 {
    position: absolute;
    width: 1200px;
    height: 456px;
    top: 254px;
    left: 120px;
  }
  
  .suporte .overlap-group-2 {
    position: absolute;
    width: 906px;
    height: 252px;
    top: 0;
    left: 116px;
  }
  
  .suporte .accordion {
    top: 0;
    display: flex;
    width: 843px;
    height: 68px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    position: absolute;
    left: 63px;
    background-color: #ffffff;
    box-shadow: inset 0px -1px 0px #00000026;
  }
  
  .suporte .adipiscing {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .suporte .accordion-2 {
    top: 116px;
    display: flex;
    width: 843px;
    height: 68px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    position: absolute;
    left: 63px;
    background-color: #ffffff;
    box-shadow: inset 0px -1px 0px #00000026;
  }
  
  .suporte .component {
    flex-direction: column;
    width: 906px;
    gap: 24px;
    top: 184px;
    left: 0;
    display: flex;
    align-items: center;
    padding: 20px 15px;
    position: absolute;
    background-color: #ffffff;
    box-shadow: inset 0px -1px 0px #00000026;
  }
  
  .suporte .frame-13 {
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .suporte .tincidunt-dolor-id {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: 28px;
  }
  
  .suporte .icon-feather-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 90px;
    left: 867px;
  }
  
  .suporte .component-2 {
    flex-direction: column;
    width: 906px;
    gap: 24px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 20px 15px;
    position: absolute;
    background-color: #ffffff;
    box-shadow: inset 0px -1px 0px #00000026;
  }
  
  .suporte .tincidunt-purus-at {
    position: relative;
    align-self: stretch;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--systemgrey-600);
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 24px;
  }
  
  .suporte .component-3 {
    width: 906px;
    justify-content: space-between;
    top: 252px;
    left: 116px;
    display: flex;
    align-items: center;
    padding: 20px 15px;
    position: absolute;
    background-color: #ffffff;
    box-shadow: inset 0px -1px 0px #00000026;
  }
  
  .suporte .component-4 {
    width: 907px;
    justify-content: space-between;
    top: 388px;
    left: 115px;
    display: flex;
    align-items: center;
    padding: 20px 15px;
    position: absolute;
    background-color: #ffffff;
    box-shadow: inset 0px -1px 0px #00000026;
  }
  
  .suporte .component-5 {
    width: 906px;
    justify-content: space-between;
    top: 320px;
    left: 116px;
    display: flex;
    align-items: center;
    padding: 20px 15px;
    position: absolute;
    background-color: #ffffff;
    box-shadow: inset 0px -1px 0px #00000026;
  }
  
  .suporte .frame-14 {
    width: 1332px;
    justify-content: space-between;
    top: 19px;
    left: 35px;
    display: flex;
    align-items: center;
    position: absolute;
  }
  
  .suporte .logo-ativa-idade {
    position: relative;
    width: 225px;
    height: 97px;
    object-fit: cover;
  }
  
  .suporte .navbar {
    display: inline-flex;
    align-items: flex-start;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .suporte .text-wrapper-10 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #3563e9;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .suporte .group-4 {
    position: relative;
    width: 266.67px;
    height: 52px;
  }
  
  .suporte .frame-15 {
    top: 0;
    left: 0;
    background-color: #3563e9;
    display: flex;
    width: 128px;
    align-items: center;
    justify-content: center;
    gap: 1px;
    padding: 14px 16px;
    position: absolute;
    border-radius: 20px;
    border: 1px solid;
  }
  
  .suporte .text-wrapper-11 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    margin-left: -0.5px;
    margin-right: -0.5px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .suporte .frame-16 {
    width: 128px;
    justify-content: center;
    gap: 1px;
    padding: 14px 16px;
    top: 0;
    left: 139px;
    background-color: #3563e9;
    border-radius: 20px;
    border: 1px solid;
    display: flex;
    align-items: center;
    position: absolute;
  }
  
  .suporte .text-wrapper-12 {
    color: #ffffff;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .suporte .rectangle-2 {
    position: absolute;
    width: 1401px;
    height: 699px;
    top: 137px;
    left: 0;
    background-color: #3563e97a;
  }
  
  .suporte .group-5 {
    position: absolute;
    width: 65px;
    height: 237px;
    top: 368px;
    left: 1306px;
  }
  
  .suporte .overlap-2 {
    position: relative;
    width: 61px;
    height: 237px;
    background-color: #ffffff80;
    border-radius: 20px;
    backdrop-filter: blur(20px) brightness(100%);
    -webkit-backdrop-filter: blur(20px) brightness(100%);
  }
  
  .suporte .rectangle-3 {
    position: absolute;
    width: 61px;
    height: 237px;
    top: 0;
    left: 0;
    background-color: #ffffff80;
    border-radius: 20px;
    border: 1px solid;
    border-color: transparent;
    backdrop-filter: blur(20px) brightness(100%);
    -webkit-backdrop-filter: blur(20px) brightness(100%);
    border-image: linear-gradient(to bottom, rgb(223, 219, 233), rgba(223, 219, 233, 0.29)) 1;
  }
  
  .suporte .group-6 {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 80px;
    left: 11px;
  }
  
  .suporte .overlap-group-3 {
    position: relative;
    height: 34px;
  }
  
  .suporte .icon-circle-fill {
    position: absolute;
    width: 10px;
    height: 20px;
    top: 7px;
    left: 7px;
  }
  
  .suporte .icon-feather-icon-2 {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 0;
    left: 0;
  }
  
  .suporte .group-7 {
    position: absolute;
    width: 32px;
    height: 29px;
    top: 151px;
    left: 17px;
  }
  
  .suporte .overlap-3 {
    position: relative;
    height: 29px;
  }
  
  .suporte .icon-feather-icon-3 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 5px;
    left: 0;
  }
  
  .suporte .icon-feather-icon-4 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 8px;
  }
  
  .suporte .a {
    width: 33px;
    top: 14px;
    position: absolute;
    left: 17px;
    font-family: "Zen Antique-Regular", Helvetica;
    font-weight: 400;
    color: #3563e9;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .suporte .text-wrapper-13 {
    color: #000000;
  }
  
  .suporte .text-wrapper-14 {
    color: #000000;
    font-size: 15px;
  }
  
  .suporte .p {
    width: 30px;
    height: 24px;
    top: 47px;
    position: absolute;
    left: 17px;
    font-family: "Zen Antique-Regular", Helvetica;
    font-weight: 400;
    color: #3563e9;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .suporte .vector {
    position: absolute;
    width: 2px;
    height: 4px;
    top: 140px;
    left: 17px;
  }
  
  .suporte .group-8 {
    position: absolute;
    width: 32px;
    height: 25px;
    top: 119px;
    left: 13px;
    background-image: url(./img/maos-libra-1.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .suporte .mao-wrapper {
    position: absolute;
    width: 22px;
    height: 28px;
    top: 195px;
    left: 18px;
    background-image: url(./img/icon-headset.png);
    background-size: 100% 100%;
  }
  
  .suporte .mao {
    position: absolute;
    width: 12px;
    height: 14px;
    top: 7px;
    left: 6px;
    object-fit: cover;
  }
  
  .suporte .descubra-como-a {
    position: absolute;
    width: 952px;
    height: 174px;
    top: 569px;
    left: 225px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.2px;
    line-height: normal;
  }
  
  .suporte .frame-17 {
    top: 1557px;
    left: 637px;
    border-color: transparent;
    background: linear-gradient(180deg, rgba(53, 99, 233, 0.5) 0%, rgba(53, 99, 233, 0.22) 100%);
    display: flex;
    width: 128px;
    align-items: center;
    justify-content: center;
    gap: 1px;
    padding: 14px 16px;
    position: absolute;
    border-radius: 20px;
    border: 1px solid;
  }
  
  .suporte .conhe-a-nossos {
    position: absolute;
    width: 1024px;
    height: 429px;
    top: 1058px;
    left: 187px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 400;
    color: var(--systemgrey-600);
    font-size: 32px;
    letter-spacing: 0.2px;
    line-height: normal;
  }
  
  .suporte .text-wrapper-15 {
    font-weight: 600;
    letter-spacing: 0.06px;
  }
  
  .suporte .text-wrapper-16 {
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    letter-spacing: 0.06px;
  }
  